@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

@theme {
    /* font */
    --font-nunito: "Nunito", sans-serif;
    --font-poppins: "Poppins", sans-serif;
    /* color */
    --color-white: #fff;
    --color-black: ##1A1A1A;
    --color-netural: #CCCCCC;
    --color-primary: #F4C939;
    --color-gray: #666666;
}

@layer base {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        padding-top: 20px;
        background: #F4F5F7;
    }

    a {
        text-decoration: none;
    }

    ul,
    ol {
        list-style: none;
    }

    input,
    textarea,
    select {
        outline: none;
    }

    button {
        cursor: pointer;
    }

    ::-webkit-scrollbar {
        scrollbar-width: none;
        -ms-overflow-style: none;
        display: none;
    }
}

@layer utilities {

    /* container */

    .container {
        width: 100%;
        padding: 0 16px;
    }
}

/* style */

@layer components {
    .swiper-pagination-bullet {
        background: #fff !important;
        width: 6px !important;
        height: 6px !important;
    }
}